h1{
    color:darkgreen;
}
h1,h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;

}
p{
    line-height: 25px; 
}
a{
    text-decoration: none;
}
.like{
    text-transform:uppercase;
    
}
a:hover{
    text-decoration:underline;
}
.CIA{
    max-width:min-content;
    float:left;
    padding:3px;
    margin-right:1rem;

}